.marksheet
{
	height:auto;
	width: 500px;
	border: 1px solid black;
	margin: 0px auto;
	text-align: center;
}

table,th,tr,td
{
	border: 1px solid blue;
	border-collapse: collapse;
}
.marksheet button
{
	background-color: #c2d645;
	height: 40px;
	color: #1210b5;
	font-weight: bold;
	border-radius: 10px;
	cursor: pointer;

}